html, body, :global(#root) {
  height: 100%;
}

body {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

a {
  color: #ff3435;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

label {
  font-weight: 400;
}

:global .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 18px 0;
  border-radius: 0;
}
:global .pagination > li {
  display: inline;
}
:global .pagination > li > a,
:global .pagination > li > span {
  position: relative;
  float: left;
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #ff3435;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
:global .pagination > li:first-child > a,
:global .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
:global .pagination > li:last-child > a,
:global .pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
:global .pagination > li > a:hover,
:global .pagination > li > span:hover,
:global .pagination > li > a:focus,
:global .pagination > li > span:focus {
  z-index: 2;
  color: #e71d1d;
  background-color: #eeeeee;
  border-color: #dddddd;
}
:global .pagination > .active > a,
:global .pagination > .active > span,
:global .pagination > .active > a:hover,
:global .pagination > .active > span:hover,
:global .pagination > .active > a:focus,
:global .pagination > .active > span:focus {
  background-color: #ff3435;
  z-index: 3;
  color: #ffffff;
  border-color: #ff3435;
  cursor: default;
}

:global .btn {
  border-radius: 0;
}

:global(.btn:active, .btn.active) {
  outline: 0;
  box-shadow: none;
}

:global(.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default) {
  color: #555;
  background-color: #ededed;
  border-color: #c5c5c5;
}

:global .dropdown-menu > li > a:hover {
  background-color: #ff3435;
  color: #fff;
}

.lightFg {
  color: #fff;
}

.lightBg {
  background-color: #ffffff;
}

.darkBg {
  background-color: #272727;
}

.primaryBg {
  background-color: #ff3435;
}

.text {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px !important;
}

.title {
  font-family: Montserrat, sans-serif;
}

.textarea {
  display: block;
  width: 100%;
  height: 44px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #eaeaea;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.disabled {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}

.noResize {
  resize: none;
  min-height: 100px !important;
}

:local .noData {
  color: lightgray;
  font-size: 40px;
  text-align: center;
}

:local .noData span {
  font-size: 80px;
}

:local .tab {
  font-size: 16px;
  text-align: center;
}

:local .tab > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #FFFFFF;
  color: #666666;
}

@media (min-width: 768px) {
  :local .tab {
    display: table-cell;
    width: 1%;
  }
  :local .tab > a {
    margin-bottom: 0;
  }
  :local .stickyContainer {
    padding-top: 2px;
    position: sticky;
    top: 45px;
    z-index: 4;
  }
}

:local .stickyContainer {
  background-color: white;
}

:local .tabsContainer {
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px #EEEEEE solid;
  -webkit-box-shadow: 0px 6px 24px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 24px -19px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 24px -19px rgba(0,0,0,0.75);
}

:local .tabContent {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
}

:local .active {
  background-color: #EEEEEE !important;
}

@media print {
  :global(.col-md-1,.col-md-2,.col-md-3,.col-md-4,
  .col-md-5,.col-md-6,.col-md-7,.col-md-8,
  .col-md-9,.col-md-10,.col-md-11,.col-md-12) {
    float: left;
  }
  :global .col-md-offset-1 {
    margin-left: 8%;
  }
  :global .col-md-1 {
    width: 8%;
  }
  :global .col-md-2 {
    width: 16%;
  }
  :global .col-md-3 {
    width: 25%;
  }
  :global .col-md-4 {
    width: 33%;
  }
  :global .col-md-5 {
    width: 42%;
  }
  :global .col-md-6 {
    width: 50%;
  }
  :global .col-md-7 {
    width: 58%;
  }
  :global .col-md-8 {
    width: 66%;
  }
  :global .col-md-9 {
    width: 75%;
  }
  :global .col-md-10 {
    width: 83%;
  }
  :global .col-md-11 {
    width: 92%;
  }
  :global .col-md-12 {
    width: 100%;
  }
  :global #dashboard {
    margin-left: 0cm;
  }
  :global table {
    page-break-inside: avoid;
  }
  :global(h1, h2, h3, h4, h5, h6) {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  :global .alert,
  :global .btn,
  :global .bm-menu-wrap,
  :global nav,
  :global #navbar,
  :global #scroll-up {
    display: none;
  }
  @page {
    margin: 1cm;
  }
}
