{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Graphics for {{ entity }}</title>

    <!-- Local Styles -->
    {% if 'localhost' in request.get_host and debug %}
      <link rel="stylesheet" href="https://localhost:3000/dashboard/graphicsFor{{ entity }}-style.min.css" type="text/css">
    {% else %}
      {% with 'dashboard/graphicsFor'|add:entity|add:'-style.min.css' as url %}
        <link rel="stylesheet" href="{% static url %}" type="text/css">
      {% endwith %}
    {% endif %}

    <!-- Third party styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <div id="root"></div>

    <!-- Scripts -->
    {% if 'localhost' in request.get_host and debug %}
      <script src="https://localhost:3000/dashboard/graphicsFor{{ entity }}-bundle.min.js" type="text/javascript"></script>
    {% else %}
      {% with 'dashboard/graphicsFor'|add:entity|add:'-bundle.min.js' as url %}
        <script src="{% static url %}" type="text/javascript"></script>
      {% endwith %}
    {% endif %}
  </body>
</html>
