<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <meta charset="utf-8">
    <style>
      textarea {
        border: 0;
        height: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    {% if debug %}
      <textarea readonly>{{ traceback }}</textarea>
    {% endif %}
  </body>
</html>
