:local .dropdownButton {
  border-radius: 0 !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px !important;
  white-space: normal;
}

:local .dropdownButton,
.dropdownButton:focus {
  background-color: #FFFFFF;
  border-color: #FF3435;
  color: #FF3435;
  outline: none;
}

:local .dropdownButton:hover,
.dropdownButton:active:hover {
  background-color: #FF3435;
  border-color: #FF3435;
  color: #FFFFFF;
}

:local .dropdownButton:active,
.dropdownButton:active:focus {
  background-color: #8E1616;
  border-color: #8E1616;
  color: #FFFFFF;
  outline: none;
}

:local .dropdownButton:active svg path {
  fill: #FFFFFF !important;
  stroke: #FFFFFF !important;
}

:local .dropdownButton[disabled],
.dropdownButton[disabled]:hover {
  background-color: #FAFAFA;
  border-color: #DFDFDF;
  color: #919191;
  opacity: 1;
}

:local .dropdownButton span {
  font-size: 16px;
}

:local .dropdownButton svg {
  width: 16px !important;
  height: 16px !important;
}

:local .dropdownButton[disabled] svg path {
  fill: #919191 !important;
  stroke: #919191 !important;
}

:local .dropdownButton:hover:not([disabled]) svg path {
  fill: #FFFFFF !important;
  stroke: #FFFFFF !important;
}

:local .dropdownButton[disabled] svg circle {
  stroke: #919191 !important;
}

:local .dropdownButton:hover:not([disabled]) svg circle {
  stroke: #FFFFFF !important;
}
